@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

.header {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  list-style-type: none;
}

.logo {
  color: #00ff00;
  font-weight: 900;
}

.header a,
.about-title a,
.contact a {
  padding: 10px;
  margin: 0 5px;
  text-decoration: none;
  color: #fff;
}

.links a:hover {
  color: darkgray;
}

.contact-btn,
.about-btn {
  border: 1px solid #fff;
  font-size: small;
}

.contact-btn:hover,
.about-btn:hover {
  border: 1px solid darkgray;
  color: darkgray;
}

.showcase {
  height: 90vh;
  color: #fff;
  background-image: url(./images/Bolu.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  opacity: 1;
}

.info-title {
  font-family: "Raleway", sans-serif;
  font-size: 5rem;
  line-height: 0.9;
}

.info p {
  color: darkgray;
}

.about {
  overflow: none;
}

.about h5,
.skills-header h4,
.portfolio-title h4 {
  color: #00ff00;
  margin-bottom: 10px;
}

.about h2,
.skills-header h2,
.portfolio-title h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  line-height: 0.9;
  margin-bottom: 40px;
}

.about-title,
.about-desc {
  height: 40vh;
  text-align: justify;
}

.squares {
  text-align: center;
}

.square {
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #00ff00;
  margin: 15px 0;
}

.line-1 {
  width: 100px;
  height: 2px;
  background: darkgrey;
  display: inline-block;
}

.line-2 {
  width: 80px;
  height: 2px;
  background: darkgrey;
  display: inline-block;
}

.line-3 {
  width: 60px;
  height: 2px;
  background: darkgrey;
  display: inline-block;
}

.line {
  line-height: 8px;
  float: right;
}

.about-desc .line {
  float: left;
}

.skills-header {
  text-align: center;
}

.frontend span,
.backend span {
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  font-size: large;
}

.number {
  color: #00ff00;
}

.skills {
  text-align: center;
  border: 1px solid darkgray;
  padding: 30px;
  align-items: center;
}

.skill {
  border-left: 1px solid darkgray;
}

.portfolio {
  margin-top: 40px;
}

.portfolio-content {
  justify-content: center;
  text-align: center;
}

.work-items {
  border: 1px solid darkgray;
  padding: 20px;
  height: 20.5em;
}

.work-details h4 {
  color: #00ff00;
}

.work-details {
  margin-top: 10px;
}

.img-area {
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.img-area img {
  width: 100%;
  height: auto;
}

.img-text h6 {
  display: none;
}

.img-text,
.img-area:after {
  width: 100%;
  position: absolute;
  left: 0;
}

.img-area:after {
  content: "";
  height: 100%;
  top: 0;
  transition: 0.5s;
}

.img-area:hover:after {
  background: linear-gradient(
    to bottom,
    rgba(0, 199, 106, 0.01) 0,
    rgba(0, 199, 76, 0.25) 25%,
    rgba(0, 199, 63, 0.75) 75%,
    rgba(0, 199, 66, 0.95) 100%
  );
}

.img-text {
  padding: 20px;
  bottom: 0;
  z-index: 1;
  transform: translateY(145px);
  transition: all 0.5s cubic-bezier(0.13, 0.62, 0.81, 0.91) 0s;
}

.img-area:hover .img-text {
  transform: translateY(0);
}

.img-text button {
  background-color: transparent;
  padding: 5px;
  border: 1px solid #fff;
  color: #fff;
  margin-top: 10px;
  margin-left: 10px;
}

.img-text button:hover {
  border: 1px solid grey;
  color: grey;
}

.contact-form {
  text-align: center;
  margin-top: 20px;
}

.contact h4 {
  color: #00ff00;
}

.contact p {
  margin-top: 10px;
}

.contact a {
  display: inline-block;
  margin-top: 10px;
}

.hidden {
  visibility: hidden;
  height: 0;
}

.contact-area {
  margin-top: 5%;
}

form {
  display: block;
}

input,
textarea {
  padding: 15px;
  border: solid #fff 1px;
  background-color: transparent;
  color: #fff;
  font-family: "Lato", sans-serif;
  width: 30rem;
  margin-bottom: 10px;
}

.submit {
  cursor: pointer;
}

.submit:hover {
  border-color: #00ff00;
  color: #00ff00;
}

input:focus {
  outline: none;
  border-color: #00ff00;
}

::placeholder {
  color: #fff;
  font-family: "Lato", sans-serif;
}

.text-center {
  text-align: center;
}

.footer {
  margin-top: 20px;
}

footer .social {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

footer i {
  color: #00ff00;
}

footer hr {
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 10px;
}

/* Tablets and under */
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .about .grid,
  .skills-content .grid,
  .contact .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .info {
    margin-top: 70%;
  }

  .skill {
    border-top: 1px solid darkgray;
    border-left: none;
    padding-top: 5px;
  }

  .about-desc {
    height: 100%;
  }

  .about-title .line {
    display: none;
  }

  .info-title {
    font-size: 3rem;
  }

  .skills-header {
    margin-top: 30px;
  }

  .portfolio-content {
    margin-top: 20px;
  }

  .work-items {
    height: 27.5em;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .container {
    max-width: 500px;
  }

  .header {
    flex-direction: column;
    height: 90px;
  }

  .header ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .header .contact-btn {
    display: none;
  }

  .portfolio-content {
    margin-top: 20px;
  }

  .work-image {
    height: 15.5em;
    width: 12.5em;
    object-fit: cover;
  }

  .work-items {
    height: 15.5em;
  }

  .img-text h4 {
    display: none;
  }

  .img-text h6 {
    display: block;
  }

  .img-text button {
    padding: 3px;
    margin-top: 5px;
    margin-left: 5px;
  }

  .contact-form input,
  .contact-form textarea {
    width: 19rem;
  }
}
